{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<header class="home">
<title>Home</title>
    <section id="note1" class="section-m1">
   <h1>HELLO, WORLD!</h1>
   <h2>Welcome, <span class="off1">IT Enthusiast.</span> I'm glad you found your way here!</h2>
        <br>
   <a href="https://roadmap.sh/"><botton>Click here to Explore More.</botton></a>
</section>
</header>
<section id="SubjectCode" class="section-p1">
   <div class="SC-box">
      <h6>ITEC 80</h6>
   </div>
   <div class="SC-box">
      <h6>ITEC 85</h6>
   </div>
   <div class="SC-box">
      <h6>ITEC 90</h6>
   </div>
   <div class="SC-box">
      <h6>INSY 55</h6>
   </div>
   <div class="SC-box">
      <h6>DCIT 26</h6>
   </div>
   <div class="SC-box">
      <h6>DCIT 60</h6>
   </div>
</section>


{% endblock content %}